nav {
  background: black;
}
nav a {
  color: white;
}
/* Remove link underline */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.intro {
  background: url('./images/costa_rica.jpg') no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20% 0;
}
#my_face {
  max-width: 300px;
  padding-top: 60px;
  padding-bottom: 50px;
}
#link_buttons {
  display: flex;
  justify-content: space-around;
}
.intro h1 {
  font-size: 300%;
}
.content-section {
  padding: 50px;
  font-size: 105%;
}
.content-section #contact-button {
  padding: 10px 0;
}
.content-section h2 {
  font-size: 180%;
}
#projects h4 {
  font-size: 110%;
}
#intern_logos {
  max-width: 120px;
}
.experience-list {
  margin-top: 50px;
  margin-bottom: 50px;
}
.button_amazon {
  background-color: #FF9900;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.button_uillinois {
  background-color: #003366;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.button_adobe {
  background-color: #FF0000;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}