@CHARSET "UTF-8";

        .Bio {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        #contact {
            width: 100%;
            text-align:center;
            border-radius: 25px;
            border: 0px;
            text-shadow: 0 0 0;
            background: rgb(220,220,220);
            padding-left: 0.9em;
            padding-right: 0;
        }
        .bio-name{
            margin:0 auto;
            color:rgb(58,54,66); 
            font:KaiTi;               
        }
        .bio-content{
            color:rgb(76,69,86);
        }